#root {
  display: flex;
  justify-content: space-around;
}
body {
  font-family: Verdana;
}
#main {
  width: 40%;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
nav a {
  padding: 0.5rem;
}
nav a.selected {
  background-color: aqua;
  border-radius: 5px;
}

#cart {
  padding: 1rem;
  width: 15rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aquamarine;
}
#cart ul li button {
  margin-left: 0.5rem;
}

li {
  padding: 0.5rem;
  display: block;
}

a {
  text-decoration: none;
  color: black;
}
